<section>
  <div class="container p-5 mt-14 mb-10">
    <h2 class="text-6xl text-[--text-color] mt-10 font-stretch-90% mx-10">
      All Categories
    </h2>
    <div
      class="parent mt-5 mx-10 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-10 gap-y-10"
    >
      @for (category of allCategories ; track category._id) {
      <div [routerLink]="['/category-products', category._id]">
        <div
          class="cont-img p-4 hover:-translate-y-5 transition-all duration-500 cursor-pointer"
        >
          <img
            [src]="category.image"
            class="w-full rounded-2xl opacity-80 h-60"
            [alt]="category.name"
          />
        </div>
        <div class="cont-text px-4">
          <h4 class="text-lg leading-loose text-[--text-color] text-center">
            {{ category.name }}
          </h4>
        </div>
      </div>
      }
    </div>
  </div>
</section>
