<section class="mt-20">
  <div
    class="bg-[#6452687f] opacity-75 rounded-2xl p-10 shadow-lg shadow-[--bg-card] lg:w-3/6 w-2/3 mx-auto my-14"
  >
    <h1 class="text-center mb-3 font-medium text-3xl text-white">
      Find Your Account
    </h1>
    @if(step == 1){
    <p class="text-center mb-5 font-light text-lg-end text-white">
      Please enter your email address to search for your account.
    </p>

    <form [formGroup]="verifyEmail" (ngSubmit)="verifyFirstStep()">
      <app-input
        [control]="verifyEmail.get('email')"
        [typeInput]="'email'"
        [idInput]="'email'"
        labelInput="Email"
      ></app-input>
      <button class="btn mt-3 block ms-auto" type="submit">Verify Email</button>
      @if (msgError) {
      <p class="text-center text-red-900 rounded-lg bg-red-200 mt-4 p-4">
        {{ msgError }}
      </p>
      }
    </form>
    } @else if(step == 2){
    <p class="text-center mb-5 font-light text-lg-end text-white">
      Please check your email for a message with your code.
    </p>
    <form [formGroup]="verifyCode" (ngSubmit)="verifySecondStep()">
      <app-input
        [control]="verifyCode.get('resetCode')"
        [typeInput]="'text'"
        [idInput]="'resetCode'"
        labelInput="Reset Code"
      ></app-input>
      <button class="btn mt-3 block ms-auto" type="submit">Verify Code</button>
      @if (msgError) {
      <p class="text-center text-red-900 rounded-lg bg-red-200 mt-4 p-4">
        {{ msgError }}
      </p>
      }
    </form>
    }@else if(step == 3){
    <p class="text-center mb-5 font-light text-lg-end text-white">
      Create a new password that is at least 6 characters long.
    </p>
    <form [formGroup]="resetPassword" (ngSubmit)="verifyThirdStep()">
      <app-input
        [control]="resetPassword.get('email')"
        [typeInput]="'email'"
        [idInput]="'email'"
        labelInput="Email"
      ></app-input>
      <app-input
        [control]="resetPassword.get('newPassword')"
        [idInput]="'newPassword'"
        labelInput="New Password"
      ></app-input>
      <button class="btn mt-3 block ms-auto" type="submit">
        Reset Password
      </button>
      @if (msgError) {
      <p class="text-center text-red-900 rounded-lg bg-red-200 mt-4 p-4">
        {{ msgError }}
      </p>
      }
    </form>
    }
  </div>
</section>
