<section class="flex flex-col lg:flex-row mt-10">
  <div
    class="reg-cont bg-[#6452687f] opacity-75 rounded-2xl p-10 shadow-lg shadow-[--bg-card] lg:w-2/4 md:w-2/3 mx-auto my-14"
  >
    <h1 class="text-center mb-3 font-medium text-3xl text-white">Login Now</h1>
    <p class="text-center mb-5 font-light text-lg-end text-white">
      welcome back! Please enter your details to continue...
    </p>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <app-input
        [control]="loginForm.get('email')"
        [typeInput]="'email'"
        [idInput]="'email'"
        labelInput="Email"
      ></app-input>
      <app-input
        [control]="loginForm.get('password')"
        [idInput]="'password'"
        labelInput="Password"
      >
        Please enter a valid password</app-input
      >
      <a
        routerLink="/forget-password"
        class="text-[--text-color] cursor-pointer hover:underline"
        >Forgotten password?</a
      >
      <button class="btn mt-5 block ms-auto" type="submit">
        Login @if(isLoading){
        <span><i class="fas fa-spinner animate-spin"></i></span>
        }
      </button>
      @if (msgError) {
      <p class="text-center text-red-900 rounded-lg bg-red-200 mt-4 p-4">
        {{ msgError }}
      </p>
      }
    </form>
  </div>

  <div
    class="reg-img w-[35%] mt-10 justify-self-center self-center m-auto hidden lg:block"
  >
    <img src="./images/auth-img.png" class="pe-10" alt="" />
  </div>
</section>
