<section class="py-10 mt-12">
  <div class="container text-[--text-color] px-5 md:px-10 lg:px-15 xl:px-20">
    <div class="order-part md:col-span-8">
      <h2 class="text-5xl mb-5">
        Order List
        <span class="text-3xl text-[#FF7F50]"
          >({{ orderList.length }} Orders)</span
        >
      </h2>
      @if (orderList.length > 0) { @for (order of orderList; track $index) {
      <div class="cart-part bg-[#ffffffb3] rounded-2xl p-8 shadow-lg mb-10">
        <div class="order-data text-xl flex justify-between items-center">
          <h3>
            <span class="font-bold">Order ID :</span> {{ orderList[$index].id }}
          </h3>
          <p>
            <span class="text-xl text-[--text-color] font-bold"
              >Total Price :
            </span>
            ${{ orderList[$index].totalOrderPrice }}
            <span class="text-xl text-[#FF7F50]"
              >({{ orderList[$index].cartItems.length }} items)</span
            >
          </p>
        </div>
        <hr class="hor-line" />
        @let oneOrder = orderList[$index]; @for (item of
        orderList[$index].cartItems; track item.product._id) { @if (item !=
        oneOrder.cartItems[0]) {
        <hr class="hor-line" />
        }

        <div class="item flex justify-between items-center">
          <div
            class="details flex justify-start space-x-5 items-center w-[80%]"
          >
            <div class="img-part">
              <img
                [src]="item.product.imageCover"
                class="w-36 border-2 border-opacity-50 border-[--text-color] rounded-2xl"
                [alt]="item.product.title"
              />
            </div>
            <div class="text-part">
              <h4 class="text-2xl">
                {{ item.product.title }}
              </h4>
              <p class="text-light text-[--text-color]">
                {{ item.product.category.name }}
              </p>
              <p class="text-light text-[--text-color] mt-5">
                <span class="text-xl text-[--text-color] font-bold"
                  >Brand :
                </span>
                {{ item.product.brand.name }}
              </p>
            </div>
          </div>
          <div
            class="price text-xl py-2 px-10 rounded-3xl text-[--text-color] outline-3 outline-[--text-color] block m-auto"
          >
            <p>{{ item.count }} x ${{ item.price }}</p>
          </div>
        </div>
        }
      </div>
      } }
    </div>
  </div>
</section>
