@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #fcf09e;
  --hover-color: #fcef9ea7;
  --text-color: #686767;
  --bg-color: #ffffc5;
  --bg-card: #68676762;
}

body {
  scroll-behavior: smooth;
  background-color: var(--bg-color);
  font-family: "Baloo 2", sans-serif;
}

@utility container {
  margin-inline: auto;
}

@layer components {
  .nav-custom-link {
    @apply block py-2 px-3 md:px-3 cursor-pointer hover:text-[--main-color] transition-colors duration-100;
  }

  .nav-custom {
    @apply block py-2 px-3 md:px-3 relative hover:text-[--main-color] after:absolute after:left-0 after:bottom-0 after:h-[2px] after:w-0 after:bg-[--main-color] after:content-[''] after:transition-all after:duration-300 hover:after:w-full;
  }

  .nav-custom-active {
    @apply relative font-medium text-[--main-color] after:absolute after:left-0 after:bottom-0 after:h-[2px] after:w-full after:bg-[--main-color] after:content-[''];
  }

  .btn {
    @apply py-2 px-10 text-[--text-color] rounded-3xl outline outline-4 hover:text-[--main-color] outline-[--text-color] hover:outline-[--main-color] transition-all duration-100 cursor-pointer active:scale-90 ease-in-out;
  }

  .main-input {
    @apply block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-[--bg-color] opacity-75 border-0 border-b-2 border-[--text-color] appearance-none focus:outline-none focus:ring-0 focus:border-gray-600;
  }
  .main-label {
    @apply absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-gray-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto;
  }
}

.hor-line {
  @apply opacity-15 my-6 border border-spacing-1 border-[--text-color];
}

.layer {
  background-color: transparent;
  color: transparent;
  position: absolute;
  inset: 0;
  transition: all 0.5s;
}
.layer:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: transparent;
}
